@charset "utf-8";
/* CSS Document */

body {
    background-color: black;
    font-family: var(--font-dm-sans);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo img{
    width: 180px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar nav li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: mone;
    font-weight:600;
    font-size: 14px;
    font-family: dm-sans, sans-serif;
}

.sidebar nav ul li a .fa {
    margin-right: 10px;
    padding-right: 8px;
    color: #b3b3b3;
    font-weight: 300;
    font-size: 20px;
}

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .Library-content{
    display: flex;
    justify-content: space-between;
}

.library .library-button {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.library .library-button .fa{
    margin-right: 10px;
    padding-right: 8px;
    font-weight: 300;
    font-size: 20px;
}

.library .Library-content .fa-plus{
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;    
    font-size: 14px;
    margin: 8px 0;
    padding: 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist-content {
    display: flex;
    flex-direction: column;
}


.section-playlist-content .text{
    padding-bottom: 14px;
    color: #fff;
}

.section-playlist-content .title{
    font-weight: 700;
}

.section-playlist-content .subtitle{
    font-weight: 500;
    font-size: 12px;
    
}

.section-playlist-content .section-Playlist-button {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 113px;
}

.sidebar .cookis {
    margin: 25px 20px;
}

.sidebar .cookis a{
    color: #b3b3b3;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

.sidebar .cookis a:hover {
    text-decoration: underline;
}

.languages .languages-button {
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #121212, #c03d3d, #ee6d17);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
}

.footer-text .footer-title {
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0;
    align-items: center;
}

.footer-text .footer-subtitle {
    font-weight: 400;
    font-size: 12px;
    padding: 10px 0;
    align-items: center;
}

.footer .footer-button {
    display: flex;
    justify-content: center;
    background-color: #c03d3d;
    border: 1px solid #302d2d;
    color: black;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.footer-button button {
    background-color: transparent;
    border: 0px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
}